<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-card *ngIf="users"> 
  <ion-card-content>
  	<ion-card-header>
  		<img src="{{BaseURL + users[0].profileImg}}" />
  	</ion-card-header>
  	
    <ion-card-title>
       {{ users[0].username }}
    </ion-card-title>
    <p>
      {{ users[0].description }}
    </p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button class="button" ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>Follow</div>
      </button>
    </ion-col>
    <ion-col>
      <button class="button" ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>Message me</div>
      </button>
    </ion-col>
    <ion-row>
    <ion-col>
    	<button class="momboButton" ion-button icon-center clear small (click)="goMombo()">
    		<ion-icon name="flower-outline"></ion-icon>
    		<div>Lets Mombo!</div>
    	</button>
    </ion-col>
  </ion-row>
  </ion-row>
</ion-card>

<ion-card *ngIf="users">
  <ion-card-title >
    My Feed
  </ion-card-title>
  <ion-card-content *ngFor="let user of users">
    <ion-row>
      <ion-col col-3>
        {{ users[0].feed[0].comments.author }}
      </ion-col>
      <ion-col col-8>
        {{ users[0].feed[0].comments.description }}
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<div [hidden]="users || errMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
</div>

</ion-content>
