page-my-posts {

ion-list-header {
	margin-top: 10px;
	padding-top: 10px;
}

p {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.like {
	float: left;
}

.fav {
	float: right;
}

button {
	margin: 1px;
	padding: 1px;

}
}
